<div class="row"
     *ngIf="(loaded$ | async)">
  <div class="col-2">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['dashboard']">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['list']">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['create']">Create</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
